<div class="page-header">
  <h1><%= @group.name %></h1>
</div>

<div class="col-md-3 col-md-push-9">
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to "Edit", edit_group_path(@group) %></li>
  </ul>
</div>

<div class="col-md-9 col-md-pull-3">
  <% if @group.message %>
    <h3>Message</h3>
    <p><%= @group.message %></p>
  <% end %>
  
  <h3>Members</h3>
  <div class="list-group">
    <% @group.characters.each do |character| %>
      <div class="list-group-item">
        <div class="clearfix">
          <h4 class="list-group-item-heading pull-left"><%= character.name %></h4>
          <div class="pull-right">
            <%= bootstrap_form_tag url: remove_from_group_path(@group, character.lodestone_id), method: :delete, html: { 'data-confirm' => "Are you sure you want to remove this character from the group?\n\nNote: Users with no characters in the group may no longer access it" } do |f| %>
              <%= f.submit "Remove", class: 'btn btn-danger btn-xs' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="collapse" id="add-form-item-container">
      <div class="list-group-item" style="border-radius:0; border-bottom: none;">
        <%= bootstrap_form_tag url: add_to_group_path(@group) do |f| %>
          <%= f.text_field :lodestone_id, label: "Character", placeholder: "Lodestone ID of the character to add", append: f.primary("Add") %>
        <% end %>
      </div>
    </div>
    <a href="#add-form-item-container" class="list-group-item" data-toggle="collapse"><small class="text-muted">Add Member</small></a>
  </div>
</div>

<script type="text/javascript">
  $('#lodestone_id')
    .attr('placeholder', "Select the character you wish to add")
    .select2({
    data: [
      <% Character.all.each do |character| %>
      {'id': <%= character.lodestone_id %>, 'text': "<%= character.name.html_safe %>"},
      <% end %>
    ],
  });
</script>
