<nav class="navbar navbar-static-top navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Linkpearl', root_path, class: 'navbar-brand' %>
    </div>
    
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%= active_link_to 'Home', root_path, :active => [['home']], :wrap_tag => 'li' %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <% if not user_signed_in? %>
        <%= active_link_to 'Login', new_user_session_path, :wrap_tag => 'li' %>
        <% else %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Me <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <%= active_link_to 'Edit Profile', edit_user_registration_path, :wrap_tag => 'li' %>
            <% if current_user.admin? %>
            <%= active_link_to 'Admin Dashboard', rails_admin.dashboard_path, :wrap_tag => 'li' %>
            <% end %>
            <li class="divider"></li>
            <%= active_link_to 'Logout', destroy_user_session_path, :method => :delete, :wrap_tag => 'li' %>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
