<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="<%= I18n.locale.to_s %>" xml:lang="<%= I18n.locale.to_s %>" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Swagger UI</title>
    <%= javascript_include_tag :swagger_ui %>
    <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Droid+Sans:400,700" %>
    <%= stylesheet_link_tag :swagger_ui, :media => :all %>
    <%= csrf_meta_tags %>
    
    <script>
        $(function () {
          $.ajaxPrefilter(function (o, options) {
            options.headers = { 'X-CSRF-Token': '<%= form_authenticity_token.to_s %>' };
          });
        });
        $(function () {
          window.swaggerUi = new SwaggerUi({
            url: "<%= request.scheme %><%= request.host%>:<%=request.port%>/api/swagger_doc",
            apiKey: "",
            dom_id: "swagger-ui-container",
            supportHeaderParams: false,
            supportedSubmitMethods: ['get', 'post', 'put'],
            onComplete: function (swaggerApi, swaggerUi) {
              log("Loaded SwaggerUI");
              initOAuth({
                clientId: "943698ff986d38150ac2ad1719711a078d71dabb18eab565a57ba0dea16b7b03",
                realm: "Doorkeeper", appName: "Sandbox",
              });
              $('pre code').each(function (i, e) {
                hljs.highlightBlock(e);
              });
              $('.footer h4').html($('.footer h4').html().replace('/swagger_doc', '').replace(':80', ''));
            },
            onFailure: function (data) {
              log("Unable to Load SwaggerUI");
            },
            docExpansion: "none",
            sorter: "alpha"
          });
          window.swaggerUi.load();
        });
    </script>
    
    <style>
    body { padding-bottom: 20px; }
    #logo { padding-left: 0 !important; background-image: none !important; }
    #message-bar:empty { display: none; }
    .http_method a { border-radius: 0 !important; }
    </style>
</head>
<body class="swagger-section">

<div id="header">
    <div class="swagger-ui-wrap">
        <%= link_to "Linkpearl API", root_url, id: "logo" %>
    </div>
</div>

<div class="swagger-ui-wrap" id="message-bar">&nbsp;</div>
<div class="swagger-ui-wrap" id="swagger-ui-container"></div>

</body>
</html>
